In [8]:
a = int(input("정수를 입력하세요 >>"))
result = "짝수" if a%2==0 else "홀수"
print("{}은 {}입니다".format(a,result))

정수를 입력하세요 >>33
33은 홀수입니다

In [10]:
num1 = int(input("첫번째 정수입력 >>"))
num2 = int(input("두번째 정수입력 >>"))
result = num1-num2 if num1>num2 else num2-num1
print("두수의 차 : {}".format(result))

첫번째 정수입력 >>3
두번째 정수입력 >>5
두수의 차 : 2

## if문 실습예제

In [13]:
money = int(input("돈이 얼마있습니까 >>"))
result = "택시를 탄다" if money>=10000 else "버스를 탄다"
print(result)

돈이 얼마있습니까 >>5000
버스를 탄다

In [17]:
money = int(input("돈이 얼마있습니까 >>"))
if money>=10000 :
    print("택시를 탄다")
else :
    print("버스를 탄다")

돈이 얼마있습니까 >>11000
택시를 탄다

## elif 실습예제

In [21]:
num1 = int(input("첫번째 정수입력 >>"))
num2 = int(input("두번째 정수입력 >>"))
if num1>num2 :
    print("첫번째 정수가 더 큽니다")
elif num1==num2:
    print("두 수가 똑같습니다")
else :
    print("두번째 정수가 더 큽니다")

첫번째 정수입력 >>1
두번째 정수입력 >>3
두번째 정수가 더 큽니다

## score 실습예제

In [32]:
score = int(input("점수를 입력하세요"))
if 100>= score >= 90:
    result = "A"
elif 90>= score >= 80:
    result = "B"
elif 80>= score >= 70:
    result = "C"
elif 70>= score >= 60:
    result = "D"
else :
    result = "F"

print("{}점은 {}학점 입니다".format(score,result))

점수를 입력하세요65
65점은 D학점 입니다

## list 실습 예제 [ , , , ]

인덱싱 (indexing)
- 무엇인가를 '가리킨다'는 의미

슬라이싱(Slicing)
- 무엇인가를 '잘라낸다'는 의미

## 리스트[인덱스]
- 인덱스에 위치한 값 반환

In [33]:
list1 = [2, 5, 7, 9, 10]
print(list1[0])
print(list1[3])
print(list1[2]+list1[-1]) # -1은 뒤에서 첫번째

2
9
17

list2에서 변수 temp에 ['a','b','c']를 저장하고 출력하시오

In [36]:
list2 = [1, 2, 3, ['a','b','c']]
list2

[1, 2, 3, ['a', 'b', 'c']]

In [37]:
temp = list2[3]
temp

['a', 'b', 'c']

list2에서 문자'b'만 뽑아서 출력하시오

In [39]:
print(temp[1])
print(list2[3][1])

b
b

## 리스트[start 인덱스 : end 인덱스]
- start 인덱스부터 end 인덱스 바로 전까지 값 반환 (start <= x < end)
- 스타트이상 앤드미만이라고 생각하면 됨

In [41]:
list3 = [0,1,2,3,4]
list3[1:3] # 1부터 3번째 전까지

[1, 2]

In [43]:
list3[:2] # 2번째 전까지

[0, 1]

In [45]:
list3[3:] # 3부터 끝까지

[3, 4]

In [46]:
list3[3:4] # 3부터 4전까지

[3]

리스트 더하기

In [48]:
list4 = [1,2,3]
list5 = [3,4,5,6]
list4 + list5

[1, 2, 3, 3, 4, 5, 6]

## 리스트 함수

## 리스트.append(값)
- 맨 뒤에 값 추가

In [49]:
list5 = [0,1,2,3,4]
list5.append(5)
list5

[0, 1, 2, 3, 4, 5]

In [50]:
list5.append(6)
list5

[0, 1, 2, 3, 4, 5, 6]

## 리스트.insert(인덱스, 값)
- 인덱스 위치에 값 추가

In [52]:
list5 = [0,1,2,3,4]
list5.insert(1,5) # 1번째자리에 5추가
list5

[0, 5, 1, 2, 3, 4]

In [53]:
list5.insert(5,6)
list5

[0, 5, 1, 2, 3, 6, 4]

## list 값 수정

In [59]:
list6 = [0,1,2,3,4]
list6

[0, 1, 2, 3, 4]

In [60]:
print("수정 전 :",list6[1])
list6[1] = 7
print("수정 후 :",list6[1])
list6

수정 전 : 1
수정 후 : 7

[0, 7, 2, 3, 4]

In [61]:
print(list6[2:4])
list6[2:4]=[7] # 슬라이싱해서 값을 넣을땐 같은 타입인 리스트 타입으로 넣어줘야함, 그래서 7을 대괄호로 감싸야함
list6

[2, 3]

[0, 7, 7, 4]

## 리스트 값 삭제 (2가지)
- del 키워드이용
- 리스트.remove(값)

In [64]:
list7 = [0,1,2,3,4,5]
del list7[1] # 인덱스 1번의 값을 삭제
list7

[0, 2, 3, 4, 5]

In [66]:
list7 = [0, 1, 2, 3, 4 ,5]
del list7[1:5]
list7

[0, 5]

In [67]:
list7 = ['a','b','c','d','e']
list7.remove('b')
list7

['a', 'c', 'd', 'e']

In [69]:
list7.remove('b') # 이미 인덱스 b를 삭제한 상태에서 다시 삭제하려고 하면 value에러

ValueError: list.remove(x): x not in list

## 리스트.sort() 
- 리스트에 있는 값을 오름차순으로 정렬

In [70]:
list8 = [9,77,13,51,100,3]
list8

[9, 77, 13, 51, 100, 3]

In [72]:
list8.sort()
list8 # 인덱스가 오름차순으로 정렬되서 작은값부터 큰값순으로 정리됨

[3, 9, 13, 51, 77, 100]

## 리스트.reverse()
- 리스트에 있는 값을 역순으로 뒤집음

In [73]:
list9 = [9,77,13,51,100,3]
list9

[9, 77, 13, 51, 100, 3]

In [75]:
list9.reverse()
list9 # 인덱스가 역순으로 뒤집은 순서로 나옴

[9, 77, 13, 51, 100, 3]

## 리스트.sort()와 리스트.reverse()를 같이 이용
- 리스트에 있는 값을 내림차순으로 정렬

In [76]:
list10 = [9,77,13,51,100,30]
list10

[9, 77, 13, 51, 100, 30]

In [77]:
list10.sort()
list10

[9, 13, 30, 51, 77, 100]

In [80]:
list10.reverse()
list10 # 리스트가 sort로 오름차순 정렬된상태에서 reverse로 역순으로 뒤집으면 자동으로 내림차순 정렬이 됨

[100, 77, 51, 30, 13, 9]

## 리스트.index()
- 찾고자 하는 값의 위치 반환

In [82]:
list11 = ['a','b','c','d','e','f']
list11.index('c') # c는 2번째 위치

2

## 리스트.pop()
- 마지막 값을 반환 후 리스트에서 제거

In [83]:
list12 = ['a','b','c','d','e','f']
list12.pop()

'f'

In [85]:
list12 # 위에서 마지막 값인 f가 출력되면서 삭제되어서 다시 list2를 출력하면 f가 없음

['a', 'b', 'c', 'd', 'e']

## len(리스트)
- 리스트의 값 개수 반환

In [86]:
list13 = [0,1,2]
len(list13)

3

In [87]:
list14 = ['a','b','c','d','e','f']
len(list14)

6

## 튜플(tulpe)
- 소괄호 () 로 작성되어지며, 튜플의 내부 값은 콤마(,)으로 구분
- 추가,수정,삭제 불가능 (읽기전용)

## 튜플[인덱스]
- 인덱스에 위치한 값 반환

In [89]:
tuple = (0,1,2,3,('a','b','c'),5)
tuple[2] 
# 튜플은 인덱스가 소괄호로 작성되어 지지만, 값을 불러올때는 리스트와 마찬가지로 대괄호로 불러옴

2

In [90]:
tuple[4]

('a', 'b', 'c')

튜플 슬라이싱과 len도 리스트의 슬라이싱과 같음

## 리스트와 튜플의 공통점과 차이점

공통점
- 타입과 상관없이 일련의 요소(Element)를 갖을 수 있다
- 요소의 순서를 관리한다

차이점
- 리스트는 가변적(mutable)이며, 튜플은 불변적(immutable)
- 리스트는 요소가 몇 개 들어갈지 명확하지 않은 경우에 사용
- 튜플은 요소 개수를 사전에 정확히 알고 있을 경우에 사용

## 조건문에서 사용되는 in 과 not in

in : 찾고자 하는값(x)이 포함 되어 있으면 true, (x in 문자열or리스트or튜플) <br> 
not in : 찾고자 하는 값(x)이 포함되어 있지 않으면 true, (x not in 문자열or리스트or튜플)

In [93]:
str1 = "파이썬 최고"
print("파이썬" in str1)
print("파이썬" not in str1)

True
False

In [94]:
list1 = [77,38,10]
print(33 in list1)
print(33 not in list1)

False
True

## 반복문
while문
- 반복 횟수가 명확하지 않을때 <br>

for문
- 반복 횟수가 명확할때

반복문 실습 예제
- 1부터 1000까지 출력하시오

In [157]:
for i in range(1,101): # 1 부터 1000까지 반복해줌
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## while
- 조건식이 True일경우 반복
- break를 만나면 반복문을 나감

In [97]:
number = 1
while number <= 3:
    print(number)
    number += 1

1
2
3

while문을 사용해서 "파이썬 최고!!"를 13번 출력하시오

In [101]:
number=0
while number < 13:
    print("파이썬 최고!!")
    number += 1

파이썬 최고!!
파이썬 최고!!
파이썬 최고!!
파이썬 최고!!
파이썬 최고!!
파이썬 최고!!
파이썬 최고!!
파이썬 최고!!
파이썬 최고!!
파이썬 최고!!
파이썬 최고!!
파이썬 최고!!
파이썬 최고!!

In [102]:
while True :
    print("무한루프")
    break

무한루프

In [103]:
number = 1
while True :
    print(number)
    number += 1
    if number > 3:
        break

1
2
3

두개의 정수를 입력 받아서 더하는 코드를 작성하시오 <br>
단, 두개의 정수가 0이 들어올 때 까지 반복한다

In [106]:
result=0
while True :
    num1=int(input("첫번째 정수 입력>>"))
    num2=int(input("두번째 정수 입력>>"))
    
    if num1==0 and num2==0:
        break
        
    print("두 정수의 합 : {}".format(num1+num2))
print("프로그램이 종료되었습니다")

첫번째 정수 입력>>3
두번째 정수 입력>>5
두 정수의 합 : 8
첫번째 정수 입력>>6
두번째 정수 입력>>6
두 정수의 합 : 12
첫번째 정수 입력>>0
두번째 정수 입력>>0
프로그램이 종료되었습니다

## for문
- 문자열 또는 리스트 또는 튜플이 들어갔을때 안에 있는 요소를 하나씩 반복
- for 변수 in 문자열(or 리스트 or 튜플): <br>
    print(변수)

for문 예시

In [107]:
list_food = ["햄버거","치킨","피자"]
for food in list_food :
    print(food)

햄버거
치킨
피자

In [108]:
hi = "안녕하세요"
for s in hi:
    print(s)

안
녕
하
세
요

In [110]:
tuple_food = ("햄버거","치킨","피자")
for food in tuple_food:
    print(food)

햄버거
치킨
피자

5명에 대한 정보처리기사 자격증 시험점수가 리스트에 담겨있습니다 <br>
이때 각 점수가 합격점수인지 불합격 점수인지 판별하여 출력하시오 <br>
(60점 이상 합격)

In [118]:
score_list = [90,45,70,60,55]
number = 1
for score in score_list :
    if score >= 60:
        result = "합격"
    else :
        result = "불합격"
    print("{}번 학생은 {} 입니다".format(number, result))
    number += 1

1번 학생은 합격 입니다
2번 학생은 불합격 입니다
3번 학생은 합격 입니다
4번 학생은 합격 입니다
5번 학생은 불합격 입니다

## for문 range() 함수사용
- 필요한 만큼의 숫자를 만들어내는 유용한 기능
- range(시작할숫자,종료할 숫자,증가량)
- range(1,10,1) -> 1부터 9까지 1씩 증가 -> [1,2,3,4,5,6,7,8,9] 리스트형식
- range(1,100,3) -> 1부터 99까지 3씩 증가
- range(10,1,-1) -> 10부터 2까지 1씩 감소 (-1씩 증가)

In [119]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

## print() 함수
- end 속성

In [122]:
for i in range(1,10,1):
    print(i,end="★") # end는 기본값으로 "\n" 설정되어있는데 그걸 바꾸면 다르게 출력됨

1★2★3★4★5★6★7★8★9★

## range()함수
- range(기본값0, 종료할숫자, 기본값1)
- range(3,10) -> 3부터 9까지 1씩 증가
- range(10) -> 0부터 9까지 1씩 증가

In [123]:
for i in range(3,10):
    print(i, end=" ")

3 4 5 6 7 8 9

In [125]:
for i in range(10): # 10번 반복해서 내부에 무언가를 하고싶을때 이런식으로 사용함
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

1) for문을 이용하여 97부터 77까지 출력하시오 <br>
2) for문을 이용하여 23부터 40까지 출력하시오

In [131]:
for i in range(97,76,-1):
    print(i,end=" ")

97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77

In [133]:
for i in range(23,41): # i는 index의 줄임말
    print(i,end=" ")

23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [134]:
list1 = [[1,2],[3,4],[5,6]]
for i,j in list1:
    print(i,j)

1 2
3 4
5 6

In [135]:
a, b = 1, 7
print(a)
print(b)

1
7

## for문 최종실습 예제
while문 예제
- 랜덤으로 1부터 50사이의 숫자를 뽑으면 뽑은 숫자를 맞추는 up,down게임 예제

In [136]:
import random #랜덤 라이브러리 사용한다는 정의

In [139]:
random.randint(1,50) #1부터 10까지 숫자중에 랜덤으로 출력

40

In [140]:
com_num = random.randint(1,50)

while True:
    num = int(input("숫자를 입력하세요 >>"))
    if num < com_num:
        print("{}보다 큰 수 입니다".format(num))
    elif num > com_num:
        print("{} 보다 작은 수 입니다".format(num))
    else :
        print("정답 입니다!!")
        break

숫자를 입력하세요 >>5
5보다 큰 수 입니다
숫자를 입력하세요 >>20
20 보다 작은 수 입니다
숫자를 입력하세요 >>15
15보다 큰 수 입니다
숫자를 입력하세요 >>17
17 보다 작은 수 입니다
숫자를 입력하세요 >>16
정답 입니다!!

for문 예제
- 두개의 정수를 키보드로 입력 받아 첫번째 정수부터 두번째 정수까지 출력되는 소스코드를 작성하시오

In [144]:
start = int(input("첫번째 정수 입력>>"))
end = int(input("두번째 정수 입력>>"))
for i in range(start,end+1):
    print(i, end=" ")

첫번째 정수 입력>>10
두번째 정수 입력>>30
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

1부터 100사이의 숫자 중 3의 배수인 값들의 합을 출력하세요
- 정답 : 1683

In [146]:
sum=0
for i in range(1,101):
    if i%3==0:
        sum += i
print(sum)

1683

for문을 이용하여 구구단 2단을 출력하시오 <br>
2 * 1 = 2<br>
2 * 2 = 4<br>
2 * 3 = 6<br>
2 * 4 = 8<br>
2 * 5 = 10<br>
2 * 6 = 12<br>
2 * 7 = 14<br>
2 * 8 = 16<br>
2 * 9 = 18<br>

In [149]:
for i in range(1,10):
    print("2 * {} = {}".format(i,i*2))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

숫자를 입력 받고 입력받은 숫자의 약수를 구하시오
- 약수란 어떤 수를 나누어 떨어지게 하는 수

In [156]:
num = int(input("정수 입력 >> "))

print("약수 :", end="  ")
for i in range(1,num+1):
    if num%i==0:
        print(i, end=" ")

정수 입력 >> 32
약수 :  1 2 4 8 16 32